.container {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	padding: 50px;
	padding-top: 104px;

	.list-pokemons {
		flex-direction: row;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.loader-container {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}


